<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}"{{ if and (isset .Site.Params "offline") ( .Site.Params.offline ) }} manifest="startpage.appcache"{{ end }}>
    <head>
        <title> {{ .Site.Title }} </title>
        {{ partial "head.html" . }}
    </head>
    <body class="mdl-base">
        <div class="mdl-layout__container"></div>
            <div class="mdl-layout mdl-js-layout">
                {{ partial "header.html" . }}
                <main class="mdl-layout__content">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--4-col"></div>
                        <div class="mdl-cell mdl-cell--4-col">{{ partial "search-google.html" . }}</div>
                        <div class="mdl-cell mdl-cell--4-col"></div>
                      </div>
                      {{ partial "grid.html" . }}
                </main>
                {{ partial "footer.html" . }}
            </div>
    </body>
</html>
